.title-stroke {
    position: relative;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    color: #333;
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff; /* Белая обводка */
    transition: color 0.3s ease;
    animation: slideUp 1s ease-in-out;
}

    .title-stroke:hover {
        color: #3498db; /* Меняем цвет при наведении */
    }

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
